@font-face {
    font-family: 'primelight';
    src: url('prime-light-webfont.woff2') format('woff2'),
    url('prime-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'primelight';
    src: url('prime-light-webfont.woff2') format('woff2'),
    url('prime-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'primeregular';
    src: url('prime-regular-webfont.woff2') format('woff2'),
    url('prime-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'primeregular';
    src: url('prime-regular-webfont.woff2') format('woff2'),
    url('prime-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
